In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as  plt

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [6]:
dfs = []

# Loop to read and process each CSV file
for i in range(10):  # Adjust range based on the number of files (here 10 for 10 files)
    # File name: File01_XG.csv, File02_XG.csv, ..., File09_XG.csv
    file_name = f"File0{i+1}_XG.csv"
    
    # Read the CSV file
    df = pd.read_csv(file_name)
    
    # Standardize column names to 'Feature' and 'Importance'
    df.columns = ['Feature', 'Importance']
    
    # Add a column to indicate which file the data came from
    df['Notebook'] = f"Notebook_{i+1}"
    
    # Append the dataframe to the list
    dfs.append(df)

# Concatenate all DataFrames into one
final_df = pd.concat(dfs, ignore_index=True)

# Optionally: Group by 'Feature' and sum the importance values
grouped_df = final_df.groupby(['Feature', 'Notebook'], as_index=False).agg({'Importance': 'sum'})

# Optionally: Sort the result by importance in descending order
grouped_df = grouped_df.sort_values(by='Importance', ascending=False)

# Display the final grouped DataFrame
grouped_df

               Feature     Notebook  Importance
119           Dst Port   Notebook_8       908.0
120           Dst Port   Notebook_9       801.0
175       Flow IAT Min   Notebook_9       690.0
173       Flow IAT Min   Notebook_7       521.0
355  Init Fwd Win Byts   Notebook_9       500.0
..                 ...          ...         ...
368       Pkt Len Mean  Notebook_10         1.0
268    Fwd Pkt Len Max   Notebook_5         1.0
195  Fwd Act Data Pkts   Notebook_1         1.0
363        Pkt Len Max   Notebook_4         1.0
225       Fwd IAT Mean   Notebook_1         1.0

[450 rows x 3 columns]

In [8]:
grouped_df.reset_index()
grouped_df.head()

               Feature    Notebook  Importance
119           Dst Port  Notebook_8       908.0
120           Dst Port  Notebook_9       801.0
175       Flow IAT Min  Notebook_9       690.0
173       Flow IAT Min  Notebook_7       521.0
355  Init Fwd Win Byts  Notebook_9       500.0

In [16]:
grouped_df['Feature'].value_counts() >= 9

Feature
Dst Port             True
ACK Flag Cnt         True
Flow IAT Min         True
Fwd Pkts/s           True
Fwd Header Len       True
                    ...
Fwd PSH Flags       False
Fwd URG Flags       False
Bwd Pkt Len Min     False
Src Port            False
Subflow Bwd Byts    False
Name: count, Length: 63, dtype: bool

In [16]:
feature_counts = grouped_df['Feature'].value_counts()
valid_features = feature_counts[feature_counts >= 9].index
filtered_df = grouped_df[grouped_df['Feature'].isin(valid_features)]
features_to_select = filtered_df['Feature'].unique().tolist()
features_to_select

['Dst Port',
 'Flow IAT Min',
 'Init Fwd Win Byts',
 'Flow Duration',
 'Fwd IAT Min',
 'Bwd IAT Min',
 'Init Bwd Win Byts',
 'Flow IAT Std',
 'Fwd IAT Tot',
 'Flow IAT Mean',
 'Flow IAT Max',
 'Flow Pkts/s',
 'TotLen Fwd Pkts',
 'Fwd IAT Mean',
 'Fwd Pkts/s',
 'Fwd IAT Max',
 'Fwd Pkt Len Std',
 'Fwd Pkt Len Max',
 'Pkt Size Avg',
 'Fwd Header Len',
 'Tot Fwd Pkts',
 'Fwd Act Data Pkts',
 'ACK Flag Cnt']